.nav{
  float: right;
}
.nav a{
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  }
.nav a:hover{
    color: crimson;
  }
.post-box{
    display: table-caption;
    margin-left: 5%;
    border: 1px solid lightgray;
    width: fit-content;
    padding: 10%;
}
.post-title{
    padding: 10px;
    margin-bottom: 5px;
}
#postbody{
    resize: none;
    width: 300px;
    margin-bottom: 5px;
}
.post-btn{
    padding: 15px;
}
.post-btn:hover{
    background-color: crimson;
    color: white;
    font-weight: bold;
    border: 1px solid crimson;
 }
.abt-us{
    text-align: center;
}
.card{
    display: inline-block;
    width: 20%;
    margin-left: 5%;
    padding-left: 10px;
    border: 2px solid yellowgreen;
 }
.card:hover{
    padding-top: 10px;
    border: 2px solid crimson;
}
.card p{
    font-style: italic;
    color: gray;
}
.card a{
    margin-left: 10%;
    display: flex;
 }
.card a:hover{
    color: yellowgreen;
    font-weight: bold;
 }

.card img{
    height: 100px;
}